
<html>
<head>
<meta charset="utf-8">

    <title >
        Cursos BrainTels
    </title>
    <link rel="stylesheet" type="text/css" href="..\static\css\estilo.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\estilocur.css">

            <link rel="stylesheet" type="text/css" href="..\static\icons\font.css">

</head>
    <body>
        <header>
<ul class="menu">
     <li class="active">
        <a href="principal.html">
            <span>Inicio</span>
        </a>
      </li>
      <li>
          <!-- Definir etiqueta para link-->
        <a href="productos.html target="blank">
            <span>Productos</span>
        </a>
      </li>
      <li>
         <a href="#"><span>Tienda</span></a></li>
      <li> <a href="CURSOS.html" target="blank"><span>Cursos</span></a></li>
      <li> <a href="#" target="blank"><span>Contacatanos </span></a></li>
      <li> <a href="#" target="blank"><span>Nosostros</span></a></li>
</ul>
</header>
    

    <div class="slider">
        <ul>
            <li class="lista1">
              <img src="logo_web.png"></li>
            <li class="lista1">
              <img src="imagen1.png"></li>
            <li class="lista1">
              <img src="imagen3.png"></li>
            
        </ul>
        

    </div>

    <!--                SECCIÓN PARA EL DESPLIEGUE DE CURSOS EN LA WEB      -->
    <!--contenedor i es todo la seccion -->
    <section class="contenedori">
        <!-- CURSO_CAPA es el nombre del titulo-->
        <h3 id="CURSO_CAPA">
            Cursos De Capacitación Tecnologica
        </h3>
 <div class="contenedori-container">
       <!--curso1 -->
      <div class="curso1">
         <h3 class="titulo_py"> PROGRAMACIÓN EN PYTHON </h3>
        <!-- imagenes -->
        <img src="C:/Users/pdsjo/Desktop/PAGINAS_wEB/portfolio/numpy_log.jpg">
        <section class="portafolio1">
            <h4 > VISTA RAPIDA:       </h4>
                 <p  class="descip_m78">  
                    Aprende python e ingresa al fascinante mundo de la programación con nosotros.<br><a href="C:/Users/pdsjo/Desktop/PAGINAS_wEB/python_curso.html" target="blank"><button class="button_p"> VER MÁS </button></a>
                </p>
        </section>
    </div>
        
        <!--curso 2 -->

     <div class="curso2">
         <h3 class="titulo_py"> MICROCONTROLADORES dsPIC33fj128mc202 </h3>
        <!-- imagenes -->
        <img src="C:/Users/pdsjo/Desktop/PAGINAS_wEB/portfolio/dsp_logo.jpg">
        <section class="portafolio2">
            <h4 > VISTA RAPIDA:       </h4>
                <p  class="descip_m78">
                   Comienza a programar los DSC de la familia 33FJ usando el XC8.<br><a href="C:/Users/pdsjo/Desktop/PAGINAS_wEB/python_curso.html" target="blank"><button class="button_p"> VER MÁS </button></a>
                </p> 
        </section>
   
    </div>

    <!--curso 3 -->

     <div class="curso3">
         <h3 class="titulo_py"> MICROCONTRLADORES dsPIC33fj128mc202 </h3>
        <!-- imagenes -->
        <img src="C:/Users/pdsjo/Desktop/PAGINAS_wEB/portfolio/dsp_logo.jpg">
        <section class="portafolio3">
            <h4 > VISTA RAPIDA:       </h4>
                <p  class="descip_m78">
                   Comienza a programar los DSC de la familia 33FJ usando el XC8.<br><a href="C:/Users/pdsjo/Desktop/PAGINAS_wEB/python_curso.html" target="blank"><button class="button_p"> VER MÁS </button></a>
                </p> 
        </section>
   
    </div>


   </div>


</section>
<section class="contenedori2">

 <div class="contenedori-container">
       <!--curso1 -->
      <div class="curso1">
         <h3 class="titulo_py"> PROGRAMACIÓN EN PYTHON </h3>
        <!-- imagenes -->
        <img src="C:/Users/pdsjo/Desktop/PAGINAS_wEB/portfolio/numpy_log.jpg">
        <section class="portafolio1">
            <h4 > VISTA RAPIDA:       </h4>
                 <p  class="descip_m78">  
                    Aprende python e ingresa al fascinante mundo de la programación con nosotros.<br><a href="C:/Users/pdsjo/Desktop/PAGINAS_wEB/python_curso.html" target="blank"><button class="button_p"> VER MÁS </button></a>
                </p>
        </section>
    </div>
        
        <!--curso 2 -->

     <div class="curso2">
         <h3 class="titulo_py"> MICROCONTROLADORES dsPIC33fj128mc202 </h3>
        <!-- imagenes -->
        <img src="C:/Users/pdsjo/Desktop/PAGINAS_wEB/portfolio/dsp_logo.jpg">
        <section class="portafolio2">
            <h4 > VISTA RAPIDA:       </h4>
                <p  class="descip_m78">
                   Comienza a programar los DSC de la familia 33FJ usando el XC8.<br><a href="C:/Users/pdsjo/Desktop/PAGINAS_wEB/python_curso.html" target="blank"><button class="button_p"> VER MÁS </button></a>
                </p> 
        </section>
   
    </div>

    <!--curso 3 -->

     <div class="curso3">
         <h3 class="titulo_py"> MICROCONTRLADORES dsPIC33fj128mc202 </h3>
        <!-- imagenes -->
        <img src="C:/Users/pdsjo/Desktop/PAGINAS_wEB/portfolio/dsp_logo.jpg">
        <section class="portafolio3">
            <h4 > VISTA RAPIDA:       </h4>
                <p  class="descip_m78">
                   Comienza a programar los DSC de la familia 33FJ usando el XC8.<br><a href="C:/Users/pdsjo/Desktop/PAGINAS_wEB/python_curso.html" target="blank"><button class="button_p"> VER MÁS </button></a>
                </p> 
        </section>
   
    </div>


   </div>

</section>

   <!-- SECCION PARA CONTACTO -->
  <section id="contenedorc">
        <p> NUMERO DE CONTACTO <br>
           <a href="https://github.com/jorgepdsML" target="blank"> <span class="githubb icon-facebook2"> </span></a>
   
    <a href="https://www.youtube.com/channel/UC5u42fI0m1Sd5pWZ-fa9X9A" target="blank"> <span> youtube</span></a>
        </p>
        AQUI ENCONTRARAS INFORMACION SOBRE CURSOS
    <div>
    <a href="https://www.umakerperu.com/horarios" target="_self" id="comp-k58g2gislink" class="g-transparent-a style-k5eh8bkxlink"><span id="comp-k58g2gislabel" class="style-k5eh8bkxlabel">Nuestros cursos</span></a>
</div>
    <p>    RESUMEN:<br>
        La inteligencia artificial es un campo de importantes aplicaciones<br>
        <a href="/cursos/intel/">
            <span> INTELIGENCIA ARTIFICIAL
            </span>
        </a>
    </p>
    <div>
        <a href="www.github.com/pdsjorgeML"> <span> REPOSITORIO</span></a>
          


    </div>

    </section>

</body>
</html>
