<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title >
        Inicio
    </title>

            <link rel="stylesheet" type="text/css" href="..\static\css\principal_css.css">
            <link rel="stylesheet" type="text/css" href="..\static\icons\font.css">

         <!-- <link rel="shortcut icon" href='hola.ico'>
          <link rel="stylesheet" type="text/css" href=".\static\css\fonts.css">-->
</head>
    <body>

<header>
 <input type="checkbox" id="btn-menu" >
 <label for="btn-menu"> Menu
 </label> 
 <nav class="menu">
   <ul>
        <li> <a href=""> Inicio</a>  </li>
        <li> <a href="">  Productos</a> </li>
        <li> <a href=""> Tienda </a> </li>
        <li> <a href="CURSOS.html"> Cursos </a> </li>
        <li> <a href="#contact-container"> Contactanos</a> </li>
        <li> <a href="#inf-container"> Sobre Nosotros </a> </li>
    </ul>
 </nav>


</header>


<!-- Contenido <div>-->

<div class="logo-principal">
  <img src="..\static\imagenes\logo_sup.png" alt="adsgafdsg">
  
</div>

<div class="slider-container">

  <!-- <img src='http://lorempixel.com/output/abstract-q-c-640-360-8.jpg' class="active">
  -->
    <input type="radio" id="1" name="imagen-slide"  hidden/ >
    <input type="radio" id="2" name="imagen-slide" hidden/>
    <input type="radio" id="3" name="imagen-slide" hidden/>
    <!-- contenedor de imagenes -->
   <div class="slider-images">
       <div class="item-slide">
        <img src="..\static\imagenes\imagen1.png " alt=" ia" >
       </div>

       <div class="item-slide">
        <img src="..\static\imagenes\imagen2.png" alt=" iot">
        </div>

       <div class="item-slide">
        <img src="..\static\imagenes\imagen3.png"alt=" android" >
       </div>
   </div>

    <div class="pagination">
        <label class="pagination-item" for="1">
            <img src="..\static\imagenes\imagen1.png" alt="ia">
        </label>
        <label class="pagination-item" for="2">
            <img src="..\static\imagenes\imagen2.png" alt="iot">
        </label>
        <label class="pagination-item" for="3">
            <img src="..\static\imagenes\imagen3.png" alt="android">
        </label>
    </div>
</div>


<div class="services-container">

  <div class="ia-servicios">
   <h3 style="position: absolute;left: 30%" >  IA</h3> 
   <p id ="AI-text"><br>
  Sin duda las tecnologias con inteligencia artificial  de hoy en dia ofrecen un alto impacto en proyectos que demanden optimización y autonomia mediante el consumo masivo de datos . las aplicaciones las orientamos al sector de agricultura , seguridad y proyectos de innovación mediante tecnincas de visión e inteligencia artificial .
   </p>
  <button class="IA-page">  Mostrar Más   

  </button>
  </div>


 <div class="iot-servicios">
   <h3 style="position: absolute;left: 30%" >  IoT</h3>  
   <p id ="IOT-text"><br>
   Sin duda las tecnologias con inteligencia artificial hoy en dia ofrecen un alto impacto en proyectos que demanden optimización y autonomia mediante el consumo masivo de datos . las aplicaciones las orientamos al sector de agricultura , seguridad y proyectos de innovación mediante tecnincas de visión e inteligencia artificial .
   </p>
   <button class="IOT-page">    
Mostrar Más   
  </button>
 
  </div>

<div class="elec-servicios">
   <h3 style="position: absolute;left: 30%" >  Sistemas embebidos</h3> 
   <p id ="elec-text"><br>
   Sin duda las tecnologias con inteligencia artificial hoy en dia ofrecen un alto impacto en proyectos que demanden optimización y autonomia mediante el consumo masivo de datos . las aplicaciones las orientamos al sector de agricultura , seguridad y proyectos de innovación mediante tecnincas de visión e inteligencia artificial .
 </p>
<button class="elec-page">    
Mostrar Más   
  </button>
  
</div>
</div>
<div class="row-som ">
  <h3 class ="row-ttx">QUIENES SOMOS</h3> <br><br><br><br>
  <p class ="row-px">
    BRAINTELS LABS   INDUSTRIA 4.0
    LOGO 
  </p>
</div>

<div id="inf-container"> 
<div class="row-ax">
  <h3 class="row-tx">MISIÓN</h3> <br><br>

  <p class ="row-px">  <br><br><br>&nbsp Tenemos el compromiso de contribuir a un mundo inteligente  , brindando capacitaciones y soluciones relaciones al sector de IoT , Software y Hardware junto con aplicaciones de Inteligencia y vision artificial que incrementen el nivel competitivo de nuestros cD2D2D2lientes 
 </p>
</div>
<div class="row-bx">
  <h3 class="row-tx">VISIÓN</h3><br><br> <br><br><br><br><br>
  <p class ="row-px"> Tenemos como visión ser un empresa que brinda servicios competitivos y de alto impacto mediante tecnincas I+D en la tecnologia peruana </p>
</div>
<div class="row-cx">
  <h3 class="row-tx">   VALORES</h3> <br><br><br><br><br>
 
  <p class ="row-px"> Somos una empresa con un alto grado de responsabilidad e innovación tegnologica . Nos orientamos brindar soluciones a nuestros clientes con un compromiso confidencialidad y de mejora continua  </p>
</div>
 
  <div class="row-net">
 <a href="https://www.facebook.com/people/Jorge-Orlando-Miranda-%C3%91ahui/100000920837046" class="icon icon-facebook" target="blank"></a>
 <a href="https://www.youtube.com/watch?v=41P8UxneDJE&list=RD41P8UxneDJE&start_radio=1" class="icon icon-twitter" target="blank"></a>
 <a href="https://www.youtube.com/watch?v=41P8UxneDJE&list=RD41P8UxneDJE&start_radio=1" class="icon icon-youtube2" target="blank"></a>
 <a href="https://www.youtube.com/watch?v=41P8UxneDJE&list=RD41P8UxneDJE&start_radio=1" class="icon icon-whatsapp" target="blank"></a>
</div>
</div>
 
<div class="row-cap" >
   
<br>
  <img class="row-img" src="../static/imagenes/logo_web.png
" alt="CAPACITACIONES-TEC">
  <br><br>
  
<p id="id-row-x"> COMIENZA A DESARROLLO PROYECTOS CON NUESTRAS CAPACITACIONES TEGNOLOGICAS EN CURSOS DE IA , IOT PROGRAMACIÓN ENTRE OTRAS. ACCEDE A LOS DESCUESTOS </p> 
   
   <a href="CURSOS.html" target="blank">
    <button class="cap-page"> VER CURSOS  </button> </a>    

 
</div>


<div id="contact-container">
  
  <div   class="row-contacttt">
   <h3 class="row-cct"> Contactanos </h3> <br><br><br><br>
 
   <ul class="row-uct" >
     <li style="color:#D6D1CF" class="  icon-phone">    &nbsp   961876597&nbsp    </li><br>
     <li style="color:#D6D1CF" class="icon-mail">  &nbsp  brain_capacitaciones@gmail.com</li><br>
     <li style="color:#D6D1CF" class="icon-phone">      961875697</li><br>
     <li style="color:#D6D1CF" class="icon-mail"> brain_proyectos@gmail.com</li>

   </ul>
  


</div>

<div class="row-att">
  <h3 class="row-cct">Horario de atención</h3> <br><br>
  <li style="color:#BDC2DE;left: 40%;top:60%;font-size: 3rem;position: absolute;    list-style-type:none
" class="  icon-clock" > </li>
   <br><br><br>

  <p style="color:#BDC2D0;font-size:20px;position: absolute;top:30%;left: 5%">Lunes-Sabado :  8 am - 6 pm     <br><br>Lima-Peru
      </p>
</div>

<div class="maps">
  <h3 class="row-cct">Ubicación Google Maps</h3> <br><br><br><br><br>

</div>

<div class="row-foot">
<footer style="position: absolute ;top:10%;left: 40%" >
  <p>Copyright © 2020 Realizado por Braintels</p>
 
</footer>
<div>
</body>
</html>