
<html >
<head>
<meta charset="utf-8">
    <title >
        Curso Python 
    </title>
            <link rel="shortcut icon" href='hola.ico'>
            <link rel="stylesheet" type="text/css" href="estilo.css">
            <link rel="stylesheet" type="text/css" href="fonts.css">
            <link rel="stylesheet" type="text/css" href="estilo_py.css">
        
</head>
    <body>

<!-- Lista Desordenada -->
<header>
  <!-- DEFINICIÓN DEL MENU -->
<nav>
<ul class="menu">
     <li class="active">
        <a href="index.html">
            <span>Inicio</span>
        </a>
      </li>
      <li>
          <!-- Definir etiqueta para link-->
        <a href="#" target="blank">
            <span>Productos</span>
        </a>
      </li>
      <li>
         <a href="#"><span>Tienda</span></a></li>
      <li> <a href="CURSOS.html" target="blank"><span>Cursos</span></a></li>
      <li> <a href="#" target="blank"><span>Contacatnos </span></a></li>
      <li> <a href="#" target="blank"><span>Nosotros</span></a></li>
</ul>

</nav>

</header>


<!-- COLOCAR IMAGENES DESPLEGABLES RELACIONADAS A PYTHON -->
<section>
  <div>
    <h3>
      INICIO 
    </h3>
  </div>

</section>
<section>
  

</section>
 


<section>
<!-- USO DE DIV PARA COLOCAR INFORMACIÓN RELEVANTE A ESTE CURSO EN PARTICULAR-->  
<div class="contenedorp">
  
   
<div id="descrip-div">

   <h3 id="descrip-tite">
      Descripción del curso
    </h3>
    <p id="descrip-content">
      En este curso de 25 horas de duración está dirigido a Estudiantes , profesionales y público general <br>que desean iniciarse en el mundo <br>de la programación .  Adquiriendo 
      habilidades y comprension de la sintaxis del software mas popular y de alto impacto como es python . 
      El curso sera 30 por ciento teorico y 70 por ciento practico.

    </p>
    <button class="button">
      ver syllabus
      
    </button>
  </div>
  
<!--  *******OBJETIVOS *************** -->

<div id="descrip-div2">

   <h3 id="descrip-tite2">
      Objetivos
    </h3>
    <p id="descrip-content2">
      En este curso de 25 horas de duración está dirigido a Estudiantes , profesionales y público general <br>que desean iniciarse en el mundo <br>de la programación .  Adquiriendo 
      habilidades y comprension de la sintaxis del software mas popular y de alto impacto como es python . 
      El curso sera 30 por ciento teorico y 70 por ciento practico.

    </p>
  </div>

  <!-- Requistos -->
<div id="descrip-div3">

   <h3 id="descrip-tite3">
      Requisitos
    </h3>
    <p id="descrip-content3">
      En este curso de 25 horas de duración está dirigido a Estudiantes , profesionales y público general <br>que desean iniciarse en el mundo <br>de la programación .  Adquiriendo 
      habilidades y comprension de la sintaxis del software mas popular y de alto impacto como es python . 
      El curso sera 30 por ciento teorico y 70 por ciento practico.

    </p>
  </div>


</div>

<div class="contenedord">
    

  <div class="descrip-divv">
   <h3 class="guiasc">  
    Guias de clase
     
   </h3 >
   <p class="guiasd">
     El curso incluye guias virtuales para cada clase 
   </p>
    
  </div>

  <div class="descrip-divv">
   <h3 class="guiasc">  
    Materiales
   </h3 >
   <p class="guiasd">
     El curso incluye los materiales necesarios por <br> cada alumno 
   </p>
    
  </div>

  <div class="descrip-divv">
   <h3 class="guiasc">  
    Certificado
   </h3 >
   <p class="guiasd">
     Al finalizar el curso se le ofrece doble certificado <br>
     certificado de participación y certificado de notas
   </p>
    
  </div>

  
</div>
</section>


<section id="contenedorc">
        <p> NUMERO DE CONTACTO <br>
           <a href="https://github.com/jorgepdsML" target="blank"> <span class="githubb icon-facebook2"> </span></a>
   
    <a href="https://www.youtube.com/channel/UC5u42fI0m1Sd5pWZ-fa9X9A" target="blank"> <span> youtube</span></a>
        </p>

    </section>
</body>
</html>


