<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Braintels Labs</title>
</head>
<body>
<h3> EJEMPLO FORMULARIO Y EL MÉTODO GET USANDO PYTHON & FLASK </h3>
 <div>
     <h4> TITULO DE LA SECCIÓN DIV</h4>
     <p> Esto representa un parrafo dentro de la sección div </p><br>
     <h5> Formulario en html</h5>
     <form method="get">
  <label for="fname">NOMBRES:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">APELLIDOS:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>
 </div>

</body>
</html>